* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin-top: 2em;
    padding: 10px 20px;
    font-size: 1.25rem;
    background: #f7a205;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 5px;
    background: #0000ff;
    padding: 1em;
    border-radius: 10px;
}

.selected {
    border: 4px solid #f7a205;
}

.cell {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background: #03f1f9;
    transition: background 0.3s;
}


